@using Movies.ViewModels.Users;
@using Movies.Enums
@model UserViewModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
   
    <title>Register</title>

   
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

</head>
<body class="backgroundReg">
@*
 <h1>@Html.ValidationSummary()</h1>*@
    <div class="col-md-10 mx-auto col-lg-5">
    <main class="form-signin w-1 m-auto">

             
                <form class="p-10 p-md-1 border rounded-1 bg-body-tertiary" method="post">
                    <h5 class="title"> Sign up</h5>
                

                    <div class="form-floating mb-3">
                        <label asp-for="FirstName">First Name</label><hr />
                        <input asp-for="FirstName" class="form-control" />

                    </div>
                    <div class="form-floating mb-3">
                        <label asp-for="LastName">Last Name</label><hr />
                        <input asp-for="LastName" class="form-control" />

                    </div>
               @*
                    <div class="form-floating mb-3">
                        <label asp-for="DOB">DOB</label><hr />
                        <input asp-for="DOB" class="form-control" />

                    </div>*@
                <div class="form-floating mb-3">
                    <label asp-for="Status"></label><hr />
                    <select asp-for="Status" asp-items="Html.GetEnumSelectList<StatusEnum>()" class="form-control">
                        <option>Please select your status</option>
                    </select></div>
                    <div class="form-floating mb-3">
                        <label asp-for="Email">Email</label><hr />
                    <input asp-for="Email" class="form-control"  placeholder="name@gmail.com" />
         
                    </div>
                
                <div class="form-floating mb-3" >
                        <label asp-for="Password">Password</label><hr />
                    
                        <input asp-for="Password" type="password"  class="form-control" />

                    <span asp-validation-for="Password" style="color:red"> </span>
           
                               
                   @*// <h1>  @Html.ValidationSummary(Model.Password)</h1>*@
                

           </div>
              @*  <div class="form-floating mb-3">
                    <label asp-for="ConfirmPassword"> Confirm Password</label><hr />

                    <input asp-for="ConfirmPassword" type="password" class="form-control" />

                    //<span asp-validation-for="ConfirmPassword" style="color:red"></span>



                </div>
           *@
                    
                    <button class="w-100 btn btn-lg btn-primary" style="background-color:steelblue" type="submit">
              
                        
         
                    <h5>SIGN UP</h5>
                    

                    </button>
                <div style ="text-align:center">
                    <a asp-action="Login"> <p><h5 style="color:white">Do you have an account ? </h5></p></a>
                   </div>
                </form>
        

        </main>
    </div>
</body>
</html>
