html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

table {
    border-collapse: collapse;
}

    table td, table th {
        padding: 5px;
    }

    table th {
        color: green;
    }
body {
  margin-bottom: 60px;
}
.backgroundReg {
    background-image: url("/background/pi.webp");
    background-position: center;
}
body.background {
    background-image: url("../background/pi.webp");
    background-position: center;

 
   /*// opacity: 200;*/
}
  
       

.title {
    text-align: center;
}
.fw-light{
    background-image:url(/background/1.jpg);
    border-bottom-width:medium 

      
           }
/*.regLogin {
    background-color: #f0efe9;
}*/




